In [10]:
import pandas as pd 
import numpy as np

In [16]:
movie = pd.read_csv("my_movies.csv") 
movie

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [17]:
movie = movie.drop(['V1','V2','V3','V4','V5'],axis=1)
movie

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

In [18]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(movie, min_support=0.02, max_len=3,use_colnames = False)
frequent_itemsets

    support   itemsets
0       0.6        (0)
1       0.7        (1)
2       0.2        (2)
3       0.2        (3)
4       0.6        (4)
5       0.2        (5)
6       0.1        (6)
7       0.1        (7)
8       0.1        (8)
9       0.2        (9)
10      0.5     (0, 1)
11      0.1     (0, 2)
12      0.1     (0, 3)
13      0.4     (0, 4)
14      0.1     (0, 5)
15      0.1     (0, 7)
16      0.2     (0, 9)
17      0.6     (1, 4)
18      0.1     (1, 7)
19      0.1     (8, 1)
20      0.1     (1, 9)
21      0.1     (2, 3)
22      0.2     (2, 5)
23      0.1     (9, 2)
24      0.1     (3, 5)
25      0.1     (3, 6)
26      0.1     (9, 3)
27      0.1     (8, 4)
28      0.1     (9, 5)
29      0.1     (9, 7)
30      0.4  (0, 1, 4)
31      0.1  (0, 1, 7)
32      0.1  (0, 1, 9)
33      0.1  (0, 2, 3)
34      0.1  (0, 2, 5)
35      0.1  (0, 9, 2)
36      0.1  (0, 3, 5)
37      0.1  (0, 9, 3)
38      0.1  (0, 9, 5)
39      0.1  (0, 9, 7)
40      0.1  (8, 1, 4)
41      0.1  (1, 9, 7)
42      0.1  (2, 3, 5)
43      0.1  (9, 2, 3)
44      0.1  (9, 2, 5)
45      0.1  (9, 3, 5)

In [19]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of     support   itemsets
1       0.7        (1)
0       0.6        (0)
17      0.6     (1, 4)
4       0.6        (4)
10      0.5     (0, 1)
13      0.4     (0, 4)
30      0.4  (0, 1, 4)
3       0.2        (3)
9       0.2        (9)
5       0.2        (5)
2       0.2        (2)
22      0.2     (2, 5)
16      0.2     (0, 9)
36      0.1  (0, 3, 5)
31      0.1  (0, 1, 7)
32      0.1  (0, 1, 9)
33      0.1  (0, 2, 3)
34      0.1  (0, 2, 5)
35      0.1  (0, 9, 2)
43      0.1  (9, 2, 3)
37      0.1  (0, 9, 3)
42      0.1  (2, 3, 5)
38      0.1  (0, 9, 5)
29      0.1     (9, 7)
40      0.1  (8, 1, 4)
41      0.1  (1, 9, 7)
44      0.1  (9, 2, 5)
39      0.1  (0, 9, 7)
23      0.1     (9, 2)
28      0.1     (9, 5)
15      0.1     (0, 7)
6       0.1        (6)
7       0.1        (7)
8       0.1        (8)
11      0.1     (0, 2)
12      0.1     (0, 3)
14      0.1     (0, 5)
18      0.1     (1, 7)
27      0.1     (8, 4)
19      0.1     (8, 1)
20      0.1     (1, 9)
21      0.1     (2, 3)
24      0.1     (3, 5)
25      0.1     (3, 6)
26      0.1     (9, 3)
45      0.1  (9, 3, 5)>

In [20]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
80,"(1, 9)",(7),0.1,0.1,0.1,1.0,10.0,0.09,inf
85,(7),"(1, 9)",0.1,0.1,0.1,1.0,10.0,0.09,inf
62,"(3, 5)",(2),0.1,0.2,0.1,1.0,5.0,0.08,inf
72,(9),(7),0.2,0.1,0.1,0.5,5.0,0.08,1.8
70,(9),"(0, 5)",0.2,0.1,0.1,0.5,5.0,0.08,1.8
67,"(0, 5)",(9),0.1,0.2,0.1,1.0,5.0,0.08,inf
65,(5),"(2, 3)",0.2,0.1,0.1,0.5,5.0,0.08,1.8

In [21]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(movie, min_support=0.05, max_len=4,use_colnames = True)
frequent_itemsets

    support                                         itemsets
0       0.6                                    (Sixth Sense)
1       0.7                                      (Gladiator)
2       0.2                                          (LOTR1)
3       0.2                                  (Harry Potter1)
4       0.6                                        (Patriot)
5       0.2                                          (LOTR2)
6       0.1                                  (Harry Potter2)
7       0.1                                           (LOTR)
8       0.1                                     (Braveheart)
9       0.2                                     (Green Mile)
10      0.5                         (Gladiator, Sixth Sense)
11      0.1                             (LOTR1, Sixth Sense)
12      0.1                     (Harry Potter1, Sixth Sense)
13      0.4                           (Patriot, Sixth Sense)
14      0.1                             (LOTR2, Sixth Sense)
15      0.1                              (LOTR, Sixth Sense)
16      0.2                        (Green Mile, Sixth Sense)
17      0.6                             (Patriot, Gladiator)
18      0.1                                (LOTR, Gladiator)
19      0.1                          (Gladiator, Braveheart)
20      0.1                          (Gladiator, Green Mile)
21      0.1                           (Harry Potter1, LOTR1)
22      0.2                                   (LOTR2, LOTR1)
23      0.1                              (Green Mile, LOTR1)
24      0.1                           (Harry Potter1, LOTR2)
25      0.1                   (Harry Potter1, Harry Potter2)
26      0.1                      (Harry Potter1, Green Mile)
27      0.1                            (Patriot, Braveheart)
28      0.1                              (LOTR2, Green Mile)
29      0.1                               (LOTR, Green Mile)
30      0.4                (Patriot, Gladiator, Sixth Sense)
31      0.1                   (LOTR, Gladiator, Sixth Sense)
32      0.1             (Gladiator, Green Mile, Sixth Sense)
33      0.1              (Harry Potter1, LOTR1, Sixth Sense)
34      0.1                      (LOTR2, LOTR1, Sixth Sense)
35      0.1                 (Green Mile, LOTR1, Sixth Sense)
36      0.1              (Harry Potter1, LOTR2, Sixth Sense)
37      0.1         (Harry Potter1, Green Mile, Sixth Sense)
38      0.1                 (LOTR2, Green Mile, Sixth Sense)
39      0.1                  (LOTR, Green Mile, Sixth Sense)
40      0.1                 (Patriot, Gladiator, Braveheart)
41      0.1                    (LOTR, Gladiator, Green Mile)
42      0.1                    (Harry Potter1, LOTR1, LOTR2)
43      0.1               (Harry Potter1, Green Mile, LOTR1)
44      0.1                       (LOTR2, Green Mile, LOTR1)
45      0.1               (Harry Potter1, Green Mile, LOTR2)
46      0.1       (LOTR, Gladiator, Green Mile, Sixth Sense)
47      0.1       (Harry Potter1, LOTR1, Sixth Sense, LOTR2)
48      0.1  (Harry Potter1, Green Mile, LOTR1, Sixth Sense)
49      0.1          (LOTR2, Green Mile, LOTR1, Sixth Sense)
50      0.1  (Harry Potter1, Green Mile, LOTR2, Sixth Sense)
51      0.1        (Harry Potter1, Green Mile, LOTR1, LOTR2)

In [22]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of     support                                         itemsets
1       0.7                                      (Gladiator)
0       0.6                                    (Sixth Sense)
4       0.6                                        (Patriot)
17      0.6                             (Patriot, Gladiator)
10      0.5                         (Gladiator, Sixth Sense)
30      0.4                (Patriot, Gladiator, Sixth Sense)
13      0.4                           (Patriot, Sixth Sense)
9       0.2                                     (Green Mile)
22      0.2                                   (LOTR2, LOTR1)
16      0.2                        (Green Mile, Sixth Sense)
2       0.2                                          (LOTR1)
3       0.2                                  (Harry Potter1)
5       0.2                                          (LOTR2)
48      0.1  (Harry Potter1, Green Mile, LOTR1, Sixth Sense)
47      0.1       (Harry Potter1, LOTR1, Sixth Sense, LOTR2)
34      0.1                      (LOTR2, LOTR1, Sixth Sense)
35      0.1                 (Green Mile, LOTR1, Sixth Sense)
36      0.1              (Harry Potter1, LOTR2, Sixth Sense)
37      0.1         (Harry Potter1, Green Mile, Sixth Sense)
38      0.1                 (LOTR2, Green Mile, Sixth Sense)
39      0.1                  (LOTR, Green Mile, Sixth Sense)
40      0.1                 (Patriot, Gladiator, Braveheart)
41      0.1                    (LOTR, Gladiator, Green Mile)
42      0.1                    (Harry Potter1, LOTR1, LOTR2)
43      0.1               (Harry Potter1, Green Mile, LOTR1)
50      0.1  (Harry Potter1, Green Mile, LOTR2, Sixth Sense)
32      0.1             (Gladiator, Green Mile, Sixth Sense)
44      0.1                       (LOTR2, Green Mile, LOTR1)
45      0.1               (Harry Potter1, Green Mile, LOTR2)
49      0.1          (LOTR2, Green Mile, LOTR1, Sixth Sense)
46      0.1       (LOTR, Gladiator, Green Mile, Sixth Sense)
33      0.1              (Harry Potter1, LOTR1, Sixth Sense)
26      0.1                      (Harry Potter1, Green Mile)
31      0.1                   (LOTR, Gladiator, Sixth Sense)
18      0.1                                (LOTR, Gladiator)
6       0.1                                  (Harry Potter2)
7       0.1                                           (LOTR)
8       0.1                                     (Braveheart)
11      0.1                             (LOTR1, Sixth Sense)
12      0.1                     (Harry Potter1, Sixth Sense)
14      0.1                             (LOTR2, Sixth Sense)
15      0.1                              (LOTR, Sixth Sense)
19      0.1                          (Gladiator, Braveheart)
29      0.1                               (LOTR, Green Mile)
20      0.1                          (Gladiator, Green Mile)
21      0.1                           (Harry Potter1, LOTR1)
23      0.1                              (Green Mile, LOTR1)
24      0.1                           (Harry Potter1, LOTR2)
25      0.1                   (Harry Potter1, Harry Potter2)
27      0.1                            (Patriot, Braveheart)
28      0.1                              (LOTR2, Green Mile)
51      0.1        (Harry Potter1, Green Mile, LOTR1, LOTR2)>

In [23]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
86,"(Gladiator, Green Mile)",(LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
20,"(Harry Potter1, Green Mile)","(LOTR1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
22,"(Harry Potter1, Sixth Sense)","(Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
23,"(Green Mile, LOTR1)","(Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
108,"(Harry Potter1, Sixth Sense)","(LOTR2, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [24]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(movie, min_support=0.5, max_len=5,use_colnames = True)
frequent_itemsets

   support                  itemsets
0      0.6             (Sixth Sense)
1      0.7               (Gladiator)
2      0.6                 (Patriot)
3      0.5  (Gladiator, Sixth Sense)
4      0.6      (Patriot, Gladiator)

In [25]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of    support                  itemsets
1      0.7               (Gladiator)
0      0.6             (Sixth Sense)
2      0.6                 (Patriot)
4      0.6      (Patriot, Gladiator)
3      0.5  (Gladiator, Sixth Sense)>

In [26]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
0,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4